body {
    font-family: Arial, sans-serif;
    margin: 10px;
  }
  
#map {
    width: 1200px;
    height: 600px;
    border: 4px solid black;
  }
  
.guziczki {
    margin: 10px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  #puzzle-container {
    display: grid;                         
    grid-template-columns: repeat(8, 1fr);  
    gap: 8px;                              
    width: auto;      
    margin-top: 10px;
  }
  
.puzzle-piece {
    width: 100%;
    display: block;
    border: 2px solid #444;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover;         
    display: block;
  }

.main-layout {
    display: flex;
    flex-direction: row;
    gap: 20px;       
    align-items: flex-start;
  }
  
#target-grid {
    width: 1200px;               
    height: 600px;               
    border: 4px solid black;     
    display: grid;               
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr);    
    gap: 5px;                    
    background: black;
    box-sizing: border-box;
  }
  
.target-slot {     
    background: lightseagreen;
    overflow: hidden;  
    width: 100%;
    height: 100%;
    object-fit: cover;       
    display: block;
  }
